body {
  color: #fff;
  font-family: "Poppins";
  font-size: 15px;
  margin: 0;
  padding: 0;
  background-color: #47a0f5;
}
.mycontainer {
  background-color: #47a0f5;
}
input,
textarea,
select,
button {
  color: #fff;
}
* {
  font-family: Poppins, sans-serif;
}
.wrapper {
  margin: auto;
  display: flex;
}
h3 {
  font-size: 22px !important;
  text-transform: uppercase !important ;
  margin-bottom: 46px !important ;
  letter-spacing: 3px !important ;
  margin-top: 19px !important ;
  margin-bottom: 30px !important ;
  font-weight: bold !important ;
}
.formheader {
  margin-top: 90px;
  margin-left: 125px;
  margin-bottom: 0px;
}
.form-control {
  height: 41px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: 0 0;
  border-radius: 5px;
  width: 100%;
  padding: 0 18px;
  background: rgba(255, 255, 255, 0.2);
}

.step {
  height: 15px;
  width: 150px;
  margin: 0 2px;

  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #3b3ba0;
}

/* new css */
#regForm {
  border: 1px solid #fff;
  margin: 100px auto;
  border-radius: 10px;
  font-family: Raleway;
  padding: 40px;
  width: 70%;

  margin-top: 50px;
  margin-left: 200px;
  border: 1px solid #fff;
}

h1 {
  text-align: center;
}
/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  border: 1px solid red !important;
}
/* Hide all steps by default: */

button {
  background-color: #04aa6d;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15Opx;
  /* margin: 0 2px; */

  border: none;
  border-radius: 10em;
  display: inline-block;
  opacity: 0.5;
  margin-right: -2%;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #484888;
}
#nextBtn {
  padding: 0;
  border: none;
  /* display: inline-flex; */
  height: 54px;
  width: 180px;
  letter-spacing: 1.3px;
  align-items: center;
  background: #e4bd37;
  /* font-family: muli-bold; */
  cursor: pointer;
  /* position: relative; */
  padding-left: 34px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 27px;
}
.link:hover,
.link {
  /* font-family: poppins-regular; */
  color: #fff;
  display: inline-block;
  padding: 5px 22px;
  border-radius: 5px;
  background: #e4bd37;
  text-decoration: none;
}
#prevBtn {
  width: 136px;
  background: #fff;
  color: #666;
  font-family: muli-bold;

  border-radius: 27px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 24px center;
}
/* select {
  color: #fff;
} */
#female,
#male,
#other {
  accent-color: white;
}
input[type="text"]::placeholder {
  color: white;
}

input[type="text"]:focus,
input[type="text"] {
  background-color: #47a0f5;
  border: 1px solid #fff; /* oranges! yey */
  color: #fff;
  outline: none;
}
input[type="email"]:focus,
input[type="email"] {
  background-color: #47a0f5;
  border: 1px solid #fff; /* oranges! yey */
  color: #fff;
}
select[type="radio"]:focus,
select[type="radio"] {
  background-color: #47a0f5;
  color: #fff;
}
#uf:focus,
#prefersystem:focus,
#college:focus,
#term:focus,
#teacher:focus,
#instructor:focus,
#start_date:focus,
#birthcountry:focus,
#course_id,
#mobileNo:focus,
#mobileNo {
  background-color: #47a0f5;
  color: #fff;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
img {
  margin-left: -30px;
}
@media screen and (max-width: 768px) {
  img {
    display: none;
  }
  #regForm {
    margin: 0;
    width: 300px;
  }
  .formheader {
    margin: 0;

    width: 300px;
  }
  .link {
    margin-top: 10px;
  }
}
#myProgress {
  width: 100%;
  /* background-color: grey; */
}

#myBar {
  width: 1%;
  height: 10px;
  background-color: green;
  border-radius: 10em;
  transition: width 1s;

  background-color: #fff;
  background-color: red;
}
#uf,
#prefersystem,
#college,
#term,
#dob,
#start_date,
#birthcountry {
  color: white;
}
@media screen and (max-width: 768px) {
  .formheader {
    margin: 0;
    margin-top: 100px;
    margin-left: 0;
  }
}

@media screen and (max-width: 992px) {
  body {
    /* font-size: 25px; */
  }
  .wrapper {
    align-items: center;
    justify-content: center;
  }
  input[type="text"] {
    /* font-size: 24px; */
  }
  #regForm {
    margin-right: 0;
    width: 100%;

    margin-left: 0;
  }
  .formheader {
    width: 100%;
    margin-left: 0px;
  }
  .imgcontainer {
    display: none;
  }
}

/* checkout css */
.checkbox-round {
  width: 1em;
  height: 1em;
  background-color: red;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #fff;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #47a0f5;
}
#prevBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .btns {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #nextBtn {
    margin-top: 1rem;
  }
  label {
    font-size: 16px;
  }
  input[type="text"] {
    font-size: 16px;
  }
}
select {
  background-color: #47a0f5 !important;
}
input {
  background-color: #47a0f5 !important;
}
h3 {
  color: #fff !important;
}
label {
  color: #fff !important;
}
.agreecontainer {
  display: flex;
  justify-content: flex-start;
}
.checkboxrow {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}
.react-datepicker__input-container {
  input {
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    appearance: none;
  }
}
.datePicker {
  width: 100%;
}
.react-date-picker__inputGroup__input .react-date-picker__inputGroup__month {
  width: 90px;
}
.agreerow {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.progressbar {
  width: 100%;
  height: 10px;
  background-color: rgb(255, 255, 255, 0.3);
  /* margin-bottom: 50px; */
  border-radius: 10em;
  /* transition: width 1s; */
  transition: all 0.5s ease;

  /* content: "";
  width: 60%;
  height: 12px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  position: absolute;
  left: 50%;
  bottom: -69px;
  transform: translateX(-50%); */
}

.progressbar div {
  width: 33.3%;
  height: 100%;
  background-color: #fff;
  border-radius: 10em;
}
input {
  color: #fff;
}
.genderselect {
  color: #fff;
}
.selectgend {
  margin-left: 1rem;
}
input[type="radio"] {
  accent-color: white;
  border: none !important;
}
textarea:focus,
input:focus {
  outline: none;
}
*:focus {
  outline: 0 !important;
}
.form-holder i {
  position: absolute;
  bottom: 7px;
  right: 20px;
  font-size: 25px;
}
.zmdi {
  display: inline-block;
  font: normal normal normal 14px/1 "Material-Design-Iconic-Font";
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.zmdi-caret-down:before {
  content: "\f2f2";
}
option {
  color: #fff;
}
.iconreact {
  position: absolute;
  left: 90%;
  top: 40%;
  color: white;
}
.formholder {
  /* background-color: red; */
  position: relative;
}
.btnholder {
  position: relative;
}
.rightarrow {
  position: absolute;

  left: 80%;
  top: 35%;
  color: white;
  transition: all 0.3s;
  z-index: 2;
}
.leftarrow {
  position: absolute;

  right: 80%;
  top: 35%;
  color: white;
  transition: all 0.3s;
  z-index: 2;
}
textarea:focus,
input:focus {
  outline: none !important;
}
.progressBarCheck {
  color: #fff;
}
/* radio buttons styling  */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 1rem;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  /* background-color: #eee; */
  border-radius: 50%;
  border: 1px solid #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
  margin-right: 3rem;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: transparent;
  border: 1px solid #fff;
  margin-right: 2rem;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
}
.error {
  color: red;
}
